@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*nav bar*/
ul {
  list-style-type: none;
  overflow: hidden;
  position: sticky;
  margin: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: #393b44;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #adadad;
}

.active {
  background-color: #8d93ab;
}
 
.secondPanel{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f1f3f8;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.paragraph{
  font-size: small;
  color: #8d93ab;
	line-height:22px;
}

.flip{
    position: relative;
    display: inline-block;
    width: 250px;
    margin-right: 50px;
    margin-bottom: 2em;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.flip .front{
  display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: .5s;
    transition-property: transform, opacity;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 150px;
    background-color: #d6e0f0;
    padding: 2em 1em;
    color: #f1f3f8;
}
.flip .back{
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: .5s;
    transition-property: transform, opacity;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 150px;
    background-color: #393b44;
    padding: 2em 1em;
    color: #f1f3f8;
}
.flip .front{
    opacity: 1;
    
}
.flip .back{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    
}
.flip:hover .front{
    opacity: 0;
}
.flip:hover .back{
    opacity: 1;
}

.flip .back p{
    font-size: 0.9125rem;
    line-height: 160%;
    color: #f1f3f8;
}

.banner-container {
  width: 100%;
  position: relative;
  padding: 0px;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
  background-size: 100% 100%;
  background-size: cover;
  position: relative;
}

  .banner-container > img {
      width: 100%;
  }
.banner-content {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  right: 0px;
}
.secPad{
	padding:60px 0;
}

  
  body{
      background: #E4E4E4;
      margin: 0;
      text-align:center;
      font-family: 'Roboto';
      color: #30475e;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 1.3rem;
  }
  .header {
    position: fixed;
    width: 100%;
    background: #f1f3f8;
    z-index: 50;
    border-radius: 0;
    top: 0px;
  }
  
  /* progress bar*/
  .progress {
    background: #8d93ab;
    background-color: #8d93ab;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 5px 5px;
    display: flex;
    height: 10px;
    width: 300px;
  }
  
  .progress .progress-value {
    background: #30475e;
    height: 10px;
  }


  /*for icons botton*/

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    margin: 5px 5px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  