img.a{
    vertical-align: none;
}

img.b{
    vertical-align: baseline;
}

img.c{
    vertical-align: sub;
}

img.d{
    vertical-align: super;
}
img.e{
    vertical-align: top;
}
img.f{
    vertical-align: text-top;
}
img.g{
    vertical-align: middle;
}
img.h{
    vertical-align: bottom;
}
img.i{
    vertical-align: text-bottom;
}
img.j{
    vertical-align: 100%;
}
img.k{
    vertical-align: 50%;
}


