.isiteks{
    color: #99ccff;
    font-size: 36px;
}

p.isiteks{
    color: #FF0000;
    font-size: 36px;
}

#footer{
    color: blue;
    border: 1px solid black;
}

div > p {
    color: white;
    background: green;
    padding: 2px;
}

div h2 {
    font-size: 26px;
    text-align: center;
}

h1+h2{
    color: red;
}

div ~ p{
    background-color: yellow;
}

